/*BASE BODY////////////////////////////////////////////////////////////////////////////////////*/

body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

    background-color: #fef5ec;

    font-family: "Bona Nova SC", serif;
}

/*BUTTON////////////////////////////////////////////////////////////////////////////////////////*/

button {
    display: flex;
    border: none;
    text-decoration: none;

    text-align: center;
    color:#fef5ec;
    background-color: #0C7075;

    border-radius: 30px;
    padding: 15px 20px;
    margin: 15px auto;

    font-family: "Bona Nova SC", serif;
    font-size: 100%;

    
}

button:hover{
    color: rgb(75, 197, 157);
    box-shadow: 0px 0px 30px 10px rgb(75, 197, 157);
}

/*HERO/////////////////////////////////////////////////////////////////////////////////////////*/
#heroImage {
    width: 100%;
    /*rotate: x 180deg;*/

    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    position: relative;
}

.heroText {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fef5ec;
}

.heroText > p {
    font-size: 400%;
}

/*NAV BAR//////////////////////////////////////////////////////////////////////////////////////*/

nav {
    display: flex;
    background-color: #0C7075;
    

    border-radius: 30px;
    padding: 15px 20px;
    margin: 20px auto;
    width: 90%;

    justify-content: space-around;
    align-items: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    font-family: "Bona Nova SC", serif;
}
 nav:hover {
    box-shadow: 0px 0px 30px 10px rgb(75, 197, 157);
 }
.navMenu {
    display: flex;
    list-style-type: none;

    margin: 0;
    padding: 0;
}

.menuItem {
    margin: 0 15px;
}

.menuItem > a {
    text-decoration: none;
    color: #fef5ec;
    font-weight: bold;
}

.menuItem > a:hover{
    color: rgb(75, 197, 157);
}

/*INTRO QUOTE//////////////////////////////////////////////////////////////////////////////////*/

#IntroductionQuote {
    margin: 65px auto;
    font-size: 200%;
}


/*INTRO IMAGE//////////////////////////////////////////////////////////////////////////////////*/

#IntroductionImageLeft {
    margin: auto 65px;
    /*size: 50%;*/

    max-width: 50%;
    height: auto;
}




